.md,.ios{
    page-login {
        ion-content{
           .content-bg{
               background: url('../assets/img/login-bg.jpg') no-repeat fixed top;
               background-size: 100% 100%;
           }
                .alert,.alert-danger{
                    color: #ff0000;
                }
                .icon{
                    width: 40%;
                    margin: 2rem auto 0;
                    img{
                        border-radius: 100%;
                        border: 5px solid #a1ce61;
                    }
                }
                ion-list{
                    .user-item{
                        margin-top: 2.67rem;
                    }
                    .pwd-box{
                        position: relative;
                         .eye{
                            position: absolute;
                            right: 10px;
                            top: calc(50% - 18px);
                        }
                        .eye-icon{
                            z-index: 999;
                            width: 26px;
                            height: 16px;
                        }
                        ion-input{
                            .text-input{
                                z-index: -999;        
                            }
                        }
                        .pwd-item{
                            margin-top: 1.5rem;
                         }   
                    }
                    
                    ion-item{
                        
                        ion-label{
                            margin-left: 1.2rem;
                        }
                        .user-icon,.pwd-icon{
                            width: 20px;
                            height: 23px;
                        }
                        padding: 0!important;
                        font-size: 1.4rem;
                        border: 5px solid #a4cd63!important;
                        background-color: #fff;
                        border-radius: 3.5rem;
                    }
                }
                .copyright{
                    width: 100%;
                    text-align: center;
                    position: absolute;
                    left: 0;
                    bottom: 5px;
                    h2{
                        font-size: 1.3rem;
                        margin: 0;
                    }
                    p{
                        font-size: 1.16rem;
                        color: #999999;
                    }
                }
                
            }
        }
        .login-btn{
            border-radius: 20px;
        }
        .forg-btn{
            float: right;
        }
        .resg-btn,.forg-btn{
            font-size: 1.5833rem;
            margin: 0!important;
            padding: 0!important;
        }
}
