<!--
  Generated template for the StationDetail page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>站点详情</ion-title>
    <ion-buttons end>
      <button ion-button color="green" icon-only (click)="addFav()">
        <ion-icon *ngIf="station.collect!=1" ios="ios-star-outline" md="md-options"></ion-icon>
        <ion-icon *ngIf="station.collect==1"  ios="ios-star" md="md-options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content >
  <ion-segment [(ngModel)]="selectedSeg" color="green">
      <ion-segment-button value="station">
        站点
      </ion-segment-button>
      <ion-segment-button value="sc">
        桩位
      </ion-segment-button>
      <ion-segment-button value="comments">
        评论
      </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="selectedSeg" >
      <div *ngSwitchCase="'station'" class="first-card">
        <ion-card>
          <ion-card-content>
            <ion-list>
              <ion-item   class="adjust-border station-img">
                <ion-avatar item-left>
                  <img src="./assets/img/station.jpg">
                </ion-avatar>
                <h2 class="company">{{station.name}}</h2>
                <ion-grid>
                  <ion-row class="row-level"> 
                    <ion-col width-50>
                        <img *ngFor="let s of stars" class="level" src="./assets/img/icon-star-full.png">
                        <img class="level" *ngIf="isShowHalf" src="./assets/img/icon-star-half.png">
                        <img *ngFor="let s of emptyStars" class="level" src="./assets/img/icon-star-empty.png">
                  </ion-col>  
                  </ion-row>  
                  <ion-row  class="row-level">
                   <ion-col width-10><img class="quick-icon" src="./assets/img/icon-quick.png"></ion-col>
                  <ion-col width-30><span>共{{station.quickporttotal}}</span><span class="available-count-quick">可用{{station.quickporttotal_available}}</span></ion-col>
                  <ion-col width-10><img class="slow-icon" src="./assets/img/icon-slow.png"></ion-col>
                  <ion-col width-30><span>共{{station.slowporttotal}}</span><span class="available-count-slow">可用{{station.slowporttotal_available}}</span></ion-col>
                  </ion-row> 
                </ion-grid>
              </ion-item>  
              <ion-item ion-item class="no-border">
                  {{station.address}}
              </ion-item>  
            </ion-list> 
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header class="fee-header-detail">
             <img class="fee-img" src="./assets/img/icon-title-money.png">费用信息
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col>充电费</ion-col>
                     <ion-col text-right>{{station.electric_fee}}</ion-col>
                </ion-row>
                 <ion-row>
                    <ion-col>服务费</ion-col>
                     <ion-col  text-right>{{station.service_fee}}</ion-col>
                </ion-row>
                <ion-row>
                     <ion-col>停车费</ion-col>
                    <ion-col  text-right>{{station.parking_fee}}</ion-col>
                </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header class="fee-header-detail">
             <img class="fee-img" src="./assets/img/icon-title-card.png">支付方式
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
                <ion-row class="green-border">
                    <ion-col *ngFor="let type of payTypes" text-center>
                      <button small ion-button color="sec-green" round><span color="green">{{type}}</span></button>
                    </ion-col>
                </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header class="fee-header-detail">
             <img class="fee-img" src="./assets/img/icon-title-clock.png">开放时间
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col>工作日</ion-col>
                     <ion-col text-right>{{officeTime}}</ion-col>
                </ion-row>
                 <ion-row>
                    <ion-col>节假日</ion-col>
                     <ion-col  text-right>{{weekTime}}</ion-col>
                </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>

         <ion-card>
          <ion-card-header class="fee-header-detail">
             <img class="fee-img" src="./assets/img/icon-title-car.png">适配车型
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
                <ion-row class="green-border">
                     <ion-col text-center *ngFor="let car of carTypes">
                       <button ion-button small color="sec-green" round><span color="green">{{car}}</span></button>
                     </ion-col>
                </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>

        
      </div>
      <div *ngSwitchCase="'sc'">
          <ion-list>
            <ion-item *ngFor="let pile of piles">
              <ion-avatar item-left>
                <img *ngIf="pile.chargingType==1&&pile.usedFlag!=1" src="./assets/img/icon-pole-slow-use.png">
                <img *ngIf="pile.chargingType==1&&pile.usedFlag==1" src="./assets/img/icon-pole-slow-idle.png">
                <img *ngIf="pile.chargingType==2&&pile.usedFlag==1" src="./assets/img/icon-pole-quick-idle.png">
                <img *ngIf="pile.chargingType==2&&pile.usedFlag!=1" src="./assets/img/icon-pole-quick-use.png">
              </ion-avatar>
              <ion-avatar item-right>
                <p color="green"  *ngIf="pile.usedFlag==1">空闲</p>
                <p  *ngIf="pile.usedFlag==2">占用(未充电)</p>
                <p  *ngIf="pile.usedFlag==3">占用(充电中)</p>
                <p  *ngIf="pile.usedFlag==4">占用(预约锁定)</p>
                <p  *ngIf="pile.usedFlag==255">故障</p>
              </ion-avatar>
              <h2>{{pile.chargingPilePortId}}</h2>
              <p>预计等候 {{pile.overplusTime}}</p>
            </ion-item>
          </ion-list>
      </div>
      <div *ngSwitchCase="'comments'">
          <ion-list class="comments">
            <ion-item *ngFor="let comment of comments">
              <ion-avatar item-left>
                <img src="./assets/img/head-img.jpg">
              </ion-avatar>
              <h2 color="green">{{comment.alias}}</h2>
              <p class="comment-date">{{comment.datetime}}</p>
              <p class="content">{{comment.content}}</p>
            </ion-item>
          </ion-list>
      </div>
    </div>
</ion-content>
<ion-footer  class="green-border">
  <button color="sec-green" (click)="presentActionSheet($event)"  ion-button full>
     <img src="./assets/img/icon-detail-nav.png">导航
  </button>
</ion-footer>
