page-register {
    .checkCodeBox{
         position: relative;
         .checkCode{
             background-color: #ededed;
             line-height: 2;
             border-radius: 3rem;
             padding: 2px 8px;
             position: absolute;
             right: 5px;
             top: calc(50% - 26px);
         }
    }
    .passWordBox,.rePassWordBox{
        position: relative;
        .eye{
            position: absolute;
            right: 5px;
            top: calc(50% - 18px);
         }
         .eye-icon{
             z-index: 999;
            width: 26px;
            height: 16px;
        }
    }
    .resg-input{
        border-top: 19px solid #f2f2f2;
    }
    .forg-btn{
        font-size: 1.4rem!important;
    }
    ion-item{
        padding: 0!important;
        font-size: 1.4rem!important;
        ion-label{
            padding-left: 10px;
        }
    }
}
