<!--
  Generated template for the Recharge page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>账户充值</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-list class="target-money">

        <ion-item>
          <ion-label floating>请输入充值金额</ion-label>
          <ion-input  type="text" required 
            [(ngModel)]="money" #name="ngModel">
          </ion-input>
        </ion-item>

  </ion-list>

  <ion-list radio-group  [(ngModel)]="payType">
  <ion-list-header>
   请选择支付方式
  </ion-list-header>

  <ion-item class="bao-bg">
    <ion-label>支付宝<p>推荐有支付宝账户的用户使用</p></ion-label>
    <ion-radio checked="true" value="alipay"></ion-radio>
  </ion-item>

  <ion-item class="wei-bg">
    <ion-label>微信支付<p>推荐安装微信5.0及以上版本的用户使用</p></ion-label>
    <ion-radio value="wechat"></ion-radio>
  </ion-item>
</ion-list>

<div padding><button color="green" (click)="confirm()"  ion-button block>支付</button></div>
</ion-content>
