page-favorite {
        .company{
            font-size: 20px;
            padding-bottom: 10px;
        }
        .quick-icon{
            width: 25px;
        }
        .slow-icon{
            width: 25px;
        }
        .card-icon{
            width: 25px;
        }
        .row-marging-top{
            margin-top: 10px;
        }
        .available-count-quick{
            border-radius: 50px;
            border: 1px solid #38a713;
            padding: 5px;
            margin-left: 7px;
            color: #38a713;
            font-size: 14px;
        }

        .available-count-slow{
            border-radius: 50px;
            border: 1px solid #1182EB;
            padding: 5px;
            margin-left: 7px;
            color: #1182EB;
            font-size: 14px;
        }

        .row-marging-top .pay-ways{
            padding-top: 3px;
        }
}
