<!--
  Generated template for the VaildSuccess page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar>
    <ion-buttons start>
      <button color="green" ion-button (click)="dismiss()">
        <ion-icon ios="md-close" md="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content>
     <section class="main-section">
   	 	<h3>验证成功</h3>
    	<p class="text">请您在充电桩上进行充电操作~</p>
    	<img src="./assets/img/bg-saoma-pic01.png">
        <div class="address-name">{{obj.stationName}}</div>
        <p class="pole-num">桩编号：{{obj.deviceCode}}</p>
     </section>
</ion-content>
