<!--
  Generated template for the SearchAddress page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
 
  <ion-navbar>
    <ion-searchbar placeholder="请输入要查找的地名..."  (ionInput)="onInput($event)">

    </ion-searchbar>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-list>
      <a (click)="itemSelected(item)" padding-bottom ion-item *ngFor="let item of items">{{item.name}}</a>
    </ion-list>
</ion-content>
