page-my-money {

    .my-money-bg{
        background-color: #5ab21e;
            height: 20rem;
    }

    .toolbar-background-ios{
        background: inherit;
    }

    .toolbar-title, .back-button{
        color: #fff!important;
    }

    .remaining h2{
            color: #fff;
        margin-left: 2rem;
        font-size: 2rem;
    }

    .remaining-money h2{
        font-size: 70px;
        margin-left: 2rem;
        color: #fff;
    }

}
