
<ion-content>

    <div class="mycenter-bg">
        <ion-buttons end>
          <button ion-button color="light" class="settingBtn"  (click)="goToSMySettings()">
            设置
          </button>
        </ion-buttons>
        <div class="account">
            <img class="user" src="./assets/img/pic-pole.png">
            <div class="accountInfo">
                <h3>{{userInfo.alias}}</h3>
                <p *ngIf="!userInfo.carType"><img src="./assets/img/icon-my-car.png">未设置</p>
                <p *ngIf="userInfo.carType"><img src="./assets/img/icon-my-car.png">{{userInfo.carType}}</p>
            </div>
        </div>
        <div class="remaining-money" tapple (click)="goToMyMoney()">
            <div left class="at">账户余额</div>
            <div class="money" right>￥{{userInfo.myMoney}}<ion-icon name="arrow-forward"></ion-icon></div>
        </div>
    </div>

    <ion-card>

    <ion-card-header>
        <div><span class="my-order">我的订单</span><a (click)="goToOrders()" class="all-order">全部订单<ion-icon name="arrow-forward"></ion-icon></a></div>
    </ion-card-header>

    <ion-card-content>
      <div class="charging-status" (click)="goToChargingOrders()" tapple>
          <img src="./assets/img/icon-my-oredernow.png"><div><h2>当前</h2>
             <p *ngIf="isCharging==1">正在充电</p>
             <p *ngIf="isCharging==0">暂无充电</p>
          </div>
      </div>
      <div class="pending-comment" (click)="goToCommentOrders()" tapple>
          <img src="./assets/img/icon-my-oredereva.png"><div><h2>待评价</h2><p>去评分吧</p></div>
      </div>
    </ion-card-content>

</ion-card>

 <ion-card>
      <ion-list>
            <button ion-item (click)="goToMessageCenter()">
                <ion-avatar item-left>
                <img src="./assets/img/icon-my-03.png">
                </ion-avatar>
                <h2>消息中心</h2>
            </button>
            <button ion-item (click)="goToFavorites()">
                <ion-avatar item-left>
                <img src="./assets/img/icon-my-04.png">
                </ion-avatar>
                <h2>我的收藏</h2>
            </button>
            <button ion-item (click)="goToHelpCenter()">
                <ion-avatar item-left>
                <img src="./assets/img/icon-my-02.png">
                </ion-avatar>
                <h2>帮助中心</h2>
            </button>
            <button ion-item (click)="goToFeedback()">
                <ion-avatar item-left>
                <img src="./assets/img/icon-my-01.png">
                </ion-avatar>
                <h2>意见反馈</h2>
            </button>
        </ion-list>

</ion-card>

</ion-content>
