page-my-center {

     

      .mycenter-bg{
         background: url(../assets/img/login-bg.jpg) no-repeat center center;
         height: 22rem;
         background-size: 100%;
         position: relative;
      }

      .settingBtn{
            background-color: inherit;
            font-size: 1.9rem;
            color: #fff;
      }

      .account img.user{
               float: left;
            width: 8rem;
            margin-left: 3rem;
            border-radius: 11rem;
             border: 5px solid #90c221;
      }

      .accountInfo{
            float: left;
            margin-left: 2rem;
            color: #fff;
      }

      .accountInfo h3{
            font-weight: normal;
      }

      .accountInfo p{
            display: block;
            border-radius: 1rem;
            background-color: #63aa17;
            line-height: 2.4rem;
            opacity: 0.8;
      }

      .accountInfo p img{
            width: 2rem;
            margin-left: 1rem;
            margin-right: 1rem;
            float: left;
      }

      .remaining-money{
                  position: absolute;
            bottom: 0;
            height: 5rem;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.4);
            color: #fff;
            line-height: 5rem;
            padding: 0px 11px;
            font-size: 1.8rem;
      }

      .remaining-money .at{
            float:left;
      }

      .remaining-money .money{
            float:right;
            
      }

      .remaining-money .money ion-icon{
            margin-left: 1rem;
             line-height: 3rem;
      }

      .card-ios{
            margin: 12px 0;
            width:100%;
      }

      ion-card-header .my-order{
            float: left;
            font-size: 1.6rem
      }

      ion-card-header .all-order{
                float: right;
            font-size: 1.6rem;
            color: #666;
      }

      .card-header-ios{
                border-bottom: 1px solid #eee;
      }

      .all-order ion-icon{
            margin-left: 1rem;
      }

      .charging-status{
            border-right: 1px solid #eee;
      }

      .charging-status,.pending-comment{
            float: left;
            width: 50%;
            padding : 12px;
      }

      .charging-status img ,.pending-comment img{
            width: 5rem;
            float: left;
            margin-right: 5px;
      }

      .card-ios p{
            line-height: 3rem;
      }

      .content-ios{
            background-color: #eee;
      }

      .card-content-ios{
            padding:0px;
      }

      .item-block{
            border-bottom: 1px solid #eee;
      }
}
