<!--
  Generated template for the Home page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button (click)="goToSearchCity()"  color="green">
         {{this.userCity}}<ion-icon name="arrow-down"></ion-icon>
      </button>
    </ion-buttons>
    <ion-searchbar placeholder="请输入要查找的地名..."  (ionFocus)="onInput($event)"></ion-searchbar>
    <ion-buttons end>
      <button ion-button color="green"  (click)="goToScList()">
         列表
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div id="container" [style.height]="winHeight"></div>
  <div id="myLocation" class="my-location">
     <a  (click)="getMyLocation($event)"><ion-icon name="ios-locate-outline"></ion-icon></a>
  </div>
    <button *ngIf="isCharging" class="chargingStatus" (click)="goToStatusPage()"  ion-button color="green"  icon-right round>充电中<ion-icon name="arrow-forward"></ion-icon></button>
</ion-content>
