<!--
  Generated template for the UpdateUser page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar>
    <ion-buttons start>
      <button color="green" ion-button (click)="dismiss()">
        <ion-icon ios="md-close" md="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <ion-item class="user-item">
        <ion-label>昵称</ion-label>
        <ion-input type="text" placeholder="请输入昵称..." class="form-control" required name="alias" [(ngModel)]="userAlias" #alias="ngModel"></ion-input>
    </ion-item>

    <ion-item class="user-item">
        <ion-label>车型</ion-label>
        <ion-input type="text" placeholder="请输入车型..." class="form-control" required name="type" [(ngModel)]="carType" #type="ngModel"></ion-input>
    </ion-item>
    <button color="green" ion-button block (click)="update()">确定</button>
</ion-content>
