<!--
  Generated template for the UsageNotes page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>帮助中心</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <section class="help-explain-section">
    	<h3 class="help-explain-title">如何付款</h3>
        <div class="help-explain-content">
        	<p>
            	1.刷卡付款<br>
            	充电完成后，在充电桩上点击结算按钮，跳出刷卡界面，把充电卡片放到刷卡区域进行结算；<br>
                2.app付款<br>
                结束充电后，app自动扣款，无需手动操作，只需保持账户充足。
            </p> 	
        </div>	
    </section>
</ion-content>
