<!--
  Generated template for the AboutUs page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>关于我们</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
      <div class="logo">
          <img src="./assets/img/icon-my-us-logo.png">
      </div>
      <ion-card>
      <ion-list>
            <ion-item>
                <h2>微信公众号</h2>
                <ion-note color="green" item-right="" class="note note-ios">
                  {{aboutUs.wechat}}
                </ion-note>
            </ion-item>
             <ion-item>
                <h2>联系电话</h2>
                <ion-note color="green" item-right="" class="note note-ios">
                   {{aboutUs.contactNo}}
                </ion-note>
            </ion-item>
             <ion-item>
                <h2>电子邮箱</h2>
                <ion-note color="green" item-right="" class="note note-ios">
                   {{aboutUs.email}}
                </ion-note>
            </ion-item>
             <ion-item>
                <h2>官方网址</h2>
                <ion-note color="green" item-right="" class="note note-ios">
                   {{aboutUs.link}}
                </ion-note>
           </ion-item>
        </ion-list>

</ion-card>
</ion-content>
