page-order-center {

    .orderDetail ion-row{
        padding:5px 0;
    }

    .orderDetail ion-col p{
        font-size: 1.7rem;
    }

    .orderDetail .status{
        color : #38a713;
    }
    .scroll-content {
        background-color: #f2f2f2;
    }

    .orderDetail ion-col p img{
        float : left;
        height: 2rem;
    }

    ion-segment{
        margin-top: 5px;
    }


}
