<ion-header no-border>
  <ion-navbar>
    <ion-buttons end *ngIf="showSkip">
      <button ion-button (click)="startApp()" color="primary">Skip</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-slides #slides (ionSlideWillChange)="onSlideChangeStart($event)" pager>

    <ion-slide>
      <img src="./assets/img/wel1.jpg" class="slide-image"/>
    </ion-slide>

    <ion-slide>
      <img src="./assets/img/wel2.jpg" class="slide-image"/>
    </ion-slide>


    <ion-slide>
      <img src="assets/img/wel3.jpg" class="slide-image"/>
      <button class="btn"  (click)="startApp()">
         
      </button>
    </ion-slide>

  </ion-slides>
</ion-content>
