page-order-comment {

    .commentLevel{
        height: 4rem;
    }
    
    .commentLevel .level-name{
        display: block;
        float: left;
        font-size: 1.8rem;
        line-height: 3rem;
    }

    .commentLevel ul{
        float :left;
        padding:0;
        margin: 0;
        margin-left: 2rem;
    }

    .commentLevel ul li{
        float:left;
        list-style: none;
    }

    .commentLevel ul li img{
        width: 3rem;
    }

    .inputComments{
        height: 15rem;
    }

    .inputComments textarea{
        width: 100%;
        height: 14rem;
        background-color: #f2f2f2;
        border:none;
    }

    .scroll-content {
        background-color: #f2f2f2;
    }

    .comments{
        background-color: #fff;
        margin-bottom: 20px;
    }

}
