<!--
  Generated template for the ForgotPwd page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>忘记密码</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="resg-input">
    <div class="checkCodeBox">
    <ion-item class="user-item">
        <ion-label>用户名</ion-label>
        <ion-input type="text" placeholder="请输入手机号..." class="form-control" required name="name" [(ngModel)]="mobile" #name="ngModel"></ion-input>
    </ion-item>
      <ion-item class="user-item">
          <ion-label>验证码</ion-label>
          <ion-input type="text" class="form-control" required name="cc" [(ngModel)]="checkCode" #cc="ngModel" ></ion-input>
      </ion-item>
      <ion-label class="checkCode" tappable (click)="getCode()">
            <p>{{checkedCode}}</p>
      </ion-label>
    </div>
    <div class="passWordBox">
      <ion-item class="user-item">
          <ion-label>密码</ion-label>
          <ion-input [type]="passwordType1" class="form-control" required name="pwd" [(ngModel)]="passWord" #pwd="ngModel"></ion-input>
      </ion-item>
      <ion-label class="eye" tappable (click)="changeEye1()">
            <img *ngIf="!eye1"  class="eye-icon" src="./assets/img/open-eye.png" alt="密码">
            <img *ngIf="eye1"  class="eye-icon" src="./assets/img/close-eye.png" alt="密码">
        </ion-label>
    </div>
    <div class="rePassWordBox">
      <ion-item class="user-item">
          <ion-label>确认密码</ion-label>
          <ion-input [type]="passwordType2" class="form-control" required name="rpwd" [(ngModel)]="rePassWord" #rpwd="ngModel"></ion-input>
      </ion-item>
      <ion-label class="eye" tappable (click)="changeEye2()">
            <img *ngIf="!eye2"  class="eye-icon" src="./assets/img/open-eye.png" alt="密码">
            <img *ngIf="eye2"  class="eye-icon" src="./assets/img/close-eye.png" alt="密码">
      </ion-label>
    </div>
  </div>

  <div padding-left padding-right>
    <button class="login-btn" ion-button block color="green" (click)="ok()" >确定</button>
 </div>
  


</ion-content>
