<!--
  Generated template for the SearchCity page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>切换城市</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar color="green" (ionInput)="getItems($event)"></ion-searchbar>
  <ion-grid>
    <ion-row>
      <ion-col padding-left><h5>定位城市</h5></ion-col>
    </ion-row>
    <ion-row>
      <ion-col  padding-left><button ion-button color="light" (click)="directyToCity('武汉市')">武汉市</button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col  padding-left><h5>热门城市</h5></ion-col>
    </ion-row>
    <!--<ion-row>
      <ion-col width-33  padding-left><button ion-button color="light">北京</button></ion-col>
      <ion-col width-33><button ion-button color="light">上海</button></ion-col>
      <ion-col width-33><button ion-button color="light">广州</button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-33  padding-left><button ion-button color="light">深圳</button></ion-col>
      <ion-col width-33><button ion-button color="light">南京</button></ion-col>
      <ion-col width-33><button ion-button color="light">成都</button></ion-col>
    </ion-row>-->
  </ion-grid>
  <ion-list >
      <ion-item-group *ngFor="let cityObj of tempCityList">
        <ion-item-divider id="{{cityObj.iniData}}" color="light">{{cityObj.iniData}}</ion-item-divider>
        <button ion-item *ngFor="let city of cityObj.datas" (click)="itemSelected(city)">
          {{ city.zoneCity}}
        </button> 
      </ion-item-group>
       
  </ion-list>


  <div style="width:28px;text-align:center;position:fixed;right:0;top:100px;margin:2px 0;color:#38a713;z-index: 2000" > 
        <div *ngFor="let index of indexs" style="width:100%" [style.height]="hIndex">
            <a style="color:#38a713;text-decoration: none" (click)="showHint(index)" href="#{{index}}">{{index}}</a>
        </div> 
  </div> 
  <div [style.display]="hideMiddle?'none':'inherit'" [style.top]="hintTop" style="z-index:2000;position:fixed;left:47%;
  width:40px;height:40px;background:#ddd;justify-content:center;
  align-items:center;font-size:20px;color:#262626;line-height: 38px;
    padding-left: 13px;">
        {{hint}}
    </div>
</ion-content>
