<!--
  Generated template for the ChargingStatus page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>充电</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <section class="elec-ball-section">
    	<div class="elec-ball">
        	<img [style.height]="chargingPercent" src="./assets/img/status-flash.gif">
        	<span class="elec-num">{{processResult.soc}}%</span>
            <p>正在充电</p>
        </div>
    	<div class="elec-infos">
        	<div class="info-block">
            	<span>{{processResult.alreadyChargingTime}}</span>
                <p>已充时间</p>
            </div>
            <div class="info-block">
            	<span>{{processResult.alreadyChargingAmount}}</span>
                <p>已充电量</p>
            </div>
            <div class="info-block">
            	<span>￥{{processResult.estimatedAmount}}</span>
                <p>预计金额</p>
            </div>
        </div>
        <div class="corner-nums">
        	<p>
            	<i></i>
                <em>电压</em>
                <span>{{processResult.voltage}}V</span>
            </p>
            <p>
            	<i></i>
                <em>电流</em>
                <span>{{processResult.electricCurrent}}A</span>
            </p>
        </div>
    </section>
    <section class="realtime-info-section">
    	<ul>
        	<li class="v-h">
            	<em>电池最高电压</em>
            	<span>{{processResult.batteryMaxVoltage}}V</span>
            </li>
            <li class="v-l">
            	<em>电池最低电压</em>
            	<span>{{processResult.batteryMinVoltage}}V</span>
            </li>
            <li class="t-h">
            	<em>电池最高温度</em>
            	<span>{{processResult.batteryMaxTemperature}}℃</span>
            </li>
            <li class="t-l">
            	<em>电池最低温度</em>
            	<span>{{processResult.batteryMinTemperature}}℃</span>
            </li>
        </ul>
        <button color="green" (click)="stopCharging()" ion-button block>结束充电</button>
    </section>

</ion-content>
